* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(150, 1, 1, 0), rgba(40, 42, 51, 0.185)), url(./imagens/pizzafundo1.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font: 13px;
}

.nav-links ul li::after {

    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {

    width: 100%;

}
